<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.mohitkumar.internappdesign">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Secondary"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.ProfileActivity"
            android:label="Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.FullScreenVideos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.CommentsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TextReplies"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.UploadActivity"
            android:label="Upload Video"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.NotificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.GroupClickActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.DetailsActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>