<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mohitkumar.internapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/house"
        android:label="Leasing Manager"
        android:roundIcon="@drawable/house"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.HomeScreen"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activities.DiscussionActivity"
                android:theme="@style/AppTheme3"
            />
        <activity android:name=".Activities.MainActivity"></activity>
    </application>

</manifest>